<row class="portfolio-row">
    <div class="columns">
        <div class="column">
        {{title}}
        <img src="/resources/img/{{iconname}}">
        </div>
        <div class="column">
        {{description}}
        </div>
        <div class="column">
            <p>
                {{repolink}}
            </p>
            <p>
                {{sitelink}}
            </p>
        </div>
        <div class="column">
            Technologies used: {{techs}}
        </div>
    </div>
</row>