<row class="portfolio-row">
    <div class="columns">
        <div class="column">
        <strong>{{title}}</strong>
        <img src="/resources/img/{{iconname}}">
        </div>
        <div class="column">
        {{description}}
        </div>
        <div class="column">
            <p>
                <a href="{{repolink}}">GitHub Repo</a>                
            </p>
            {{#if sitelink}}
                <p>
                    <a href="{{sitelink}}">Live Version</a>
                </p>
             {{/if}}
        </div>
        <div class="column">
            {{techs}}
        </div>
    </div>
</row>